/* Browser Resets */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{ margin:0; padding:0 }
h1, h2, h3, h4, h5, h6, pre, code { font-size:100%; }
html, body { height: 100%; overflow: hidden; }

/* Setup some globals */
body { 	font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		color: #FFF;
		background: black;
}
a { color:#FF7C18; }

/* header div */
.header { position:absolute; top:0; left:0; right:0; height:25px; width:100%; }
.title { float:left; text-align:left; width:40%; padding:5px; }
.info { float:right; text-align:right; width:40%; padding:5px; }

/* Gigapan view */
.gigapan-view { position: absolute; top:25px; bottom:115px; left:0; right:0; }
.gigapan-view #flashholder .user-warning { font-size:150%; color:#FFF; line-height:1.8; }

/* snapshots div */
.snapshots { position: absolute; height: 110px; bottom: 0; left:0; right:0; margin: 0 5px 0 5px; }
.snapshots ol { position: relative; padding: 0 0 0 0; margin: 0 0 0 0; }
.snapshots ol li { margin: 5px 15px 5px 0; padding: 65px 0 0; display: block; width: 90px; float: left; position: relative; }
.snapshots ol h3 { margin: 0; font-size: 1em; line-height:1.33em; font-weight: normal; }
.snapshots ol h3 a { color: #FFF; white-space: nowrap; overflow: hidden; }
.snapshots ol .photo { display: block; position: absolute; left: 0px; top: 0px; }
.snapshots ol .photo img { display: block; width: 90px; height: 60px; }

