/* Browser Resets */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{ margin:0; padding:0 }
h1, h2, h3, h4, h5, h6, pre, code { font-size:100%; }
html, body { height: 100%; overflow: hidden; }

/* Setup some globals */
body { 	font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		color: white;
		background: black;
}
a { color:#FF7C18; }

/** block level **/
ul,
ol {
	list-style: none;	/* fixes bullet points being added to snapshots */
}


/* header div */
.header { position:absolute; top:0; left:0; right:0; height:25px; width:100%; }
.title { float:left; text-align:left; width:40%; padding:5px; }
.info { float:right; text-align:right; width:50%; padding:5px; font-size:10px }

/* Gigapan view */
.gigapan-view { position: absolute; top:25px; bottom:110px; left:0; right:0; }
.gigapan-view #flashholder .user-warning { font-size:150%; color:#FFF; line-height:1.8; }

/* footer div */
.footer { position:absolute; width:100%; bottom:0; left:0; right:0; margin: 0 5px 0 5px; font-size:10px; }

/* snapshots div */
.snapshots { float:left; width:75%; height:110px; bottom: 0; left:0; right:0; margin: 0 0px 0 0px; overflow:hidden; }

/* details div */
.details { float:left; width:25%; padding: 10px 0 5px 0; overflow:hidden; }

/* map div */
.map-full { position: absolute; top:25px; bottom:110px; left:0; right:0; }

