/* Browser Resets */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input
{ margin:0; padding:0 }
h1, h2, h3, h4, h5, h6, pre, code { font-size:100%; }
html, body { height: 100%; overflow: hidden; }

/* Setup globals */
body {
		font: 13px/1.0 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
		font-weight: 200;
		color: white;
		background: black;
}
a { color:#FF7C18; }



/* header */
.header { 
	position:absolute; 
	top:0; left:0; right:0; 
	height:25px; 
	width:100%;
}
.title { 
	float:left; 
	text-align:left;
	max-width:100%; 
	padding:5px; 
	overflow:hidden;
	white-space:nowrap;
}
.info { 
	float:right; 
	text-align:right; 
	max-width:50%; 
	padding:5px; 
	font-size:10px;
	overflow:hidden;
	white-space:nowrap;
}

/* Gigapan view */
.gigapan-view { position: absolute; top:25px; bottom:110px; left:0; right:0; background:#000; }
.gigapan-view #flashholder .user-warning { font-size:150%; color:#FFF; line-height:1.8; }
.overlay { border:1px solid #fff; }

#gigapan-viewer {
	background-color:#000;
}


/* footer */
.footer { position:absolute; width:100%; height:110px; bottom:0; left:0; right:0; margin: 0 0px 0 0px; font-size:10px; }

.snapshots { 
	float:left; 
	width:70%; 
	height:110px; 

    margin-left: 15px;
    margin-top: 10px;
    margin-right: auto;
}

.details { 
	float:right; 
	width:25%; 
	height:110px; 
    margin-top: 10px;
}

/* hide the footer and expand the gigapan view for screen-sizes < 700px (eg iOS devices) */
@media screen and (max-width: 700px) {
	.gigapan-view {
		bottom:20px;
	}
	.snapshots { visibility:hidden; }
	.details { visibility:hidden; }
}



/* map div */
.mapView { position: absolute; top:25px; bottom:110px; left:0; right:0; }

