
	/* layout */
	#container {
		position: relative;
/*		width: 100%; */
		padding: 10px;
	}

	/* rs carousel */
	#rs-carousel .rs-carousel-mask {
	    border: 6px solid #444;
	}

		#rs-carousel .rs-carousel-item {
			color: #fff;
			font-size: 3em;
			text-align: center;
			width: 90px;
			height: 60px;
			border: 1px solid #FF7C18;
		}

	#rs-carousel .rs-carousel-action-next,
	#rs-carousel .rs-carousel-action-prev {
		cursor: pointer;
	}

	#rs-carousel .rs-carousel-pagination-link {
		display: inline;
	}

		#rs-carousel .rs-carousel-pagination-link a {
			padding: 2px 6px;
		}

			#rs-carousel .rs-carousel-pagination-link a:hover {
				text-decoration: none;
			}

		#rs-carousel .rs-carousel-pagination-link-active a {
			background: #444;
			color: #fff;
		}

	#rs-carousel.rs-carousel-disabled .rs-carousel-pagination-link a,
	#rs-carousel.rs-carousel-disabled .rs-carousel-action-next,
	#rs-carousel.rs-carousel-disabled .rs-carousel-action-prev,
	#rs-carousel .rs-carousel-action-disabled {
		color: gray;
		cursor: default;
	}

